/*CSS - Variables*/
:root {
  --first-column-color: hsl(31, 77%, 52%);
  --second-column-color: hsl(184, 100%, 22%);
  --third-column-color: hsl(179, 100%, 13%);

  --text-color: hsla(0, 0%, 100%, 0.75);
  --background-color: hsl(0, 0%, 95%);
  /**Color-gradiend-header**/
  --gradient-green-first: rgba(126, 213, 111, 0.8);
  --gradient-green-second: #55c57a;
  --gradient-green-third: rgba(40, 180, 131, 0.8);
}
/*CSS - Normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CSS - Reusable code*/
.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html {
  /**REM - 10px**/
  font-size: 62.5%;
}
/**CSS - Container component**/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--background-color);

  padding: 3rem;
}
.header-page {
  position: relative;

  height: 95vh;

  background-image: linear-gradient(
      to right,
      var(--gradient-green-first),
      var(--gradient-green-third)
    ),
    url("../resources/natours-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  text-transform: uppercase;
}
.header-page__box-logo {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
}
.header-page__logo {
  height: 5.5rem;
}
.header-page__box-menu {
  position: absolute;
  right: 3.5rem;
  top: 3.5rem;

  border-radius: 50%;

  padding: 1.6rem;
}
.header-page__menu-image {
  height: 2.5rem;
}
.header-page__box-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -150%);
}
.header-page__tittle {
  color: var(--background-color);
}
.header-page__main-tittle {
  display: block;

  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}
.header-page__sub-tittle {
  display: block;

  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.74rem;
}
.header-page__link {
  position: absolute;

  background-color: var(--background-color);
  padding: 16px 40px;
  border-radius: 30px;

  font-size: 1.4rem;
  color: #000000;
  text-decoration: none;

  top: 50%;
  left: 50%;

  transform: translate(-50%, 300%);
}
